<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">حسابي</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="title ">
      <h2>الإعدادت</h2>
    </div>
    <div class="line ion-activatable">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>

      <div class="start">
        <img src="../../../assets/account/globe-outline (1).svg" alt="">
        <p>اللغة</p>
      </div>
      <div class="end">
        <img src="../../../assets/account/chevron-forward-outline.svg" alt="">
      </div>
    </div>
    <div class="line ion-activatable" (click)="nav('/notification')">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>

      <div class="start">
        <img src="../../../assets/account/Icon ionic-ios-notifications-outline.svg" alt="">
        <p>الاشعارات</p>
      </div>
      <div class="end">
        <img src="../../../assets/account/chevron-forward-outline.svg" alt="">
      </div>
    </div>


    <div class="title ">
      <h2>تواصل معنا</h2>
    </div>
    <div class="line ion-activatable">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>

      <div class="start">
        <img src="../../../assets/account/Icon feather-phone-call.svg" alt="">
        <p>اتصل بنا</p>
      </div>
      <div class="end">
        <img src="../../../assets/account/chevron-forward-outline.svg" alt="">
      </div>
    </div>
    <div class="line ion-activatable" (click)="openWhatsapp()">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>

      <div class="start">
        <img src="../../../assets/account/Icon awesome-whatsapp.svg" alt="">
        <p>للتواصل عبر واتس اب</p>
      </div>
      <div class="end">
        <img src="../../../assets/account/chevron-forward-outline.svg" alt="">
      </div>
    </div>
    <div class="line ion-activatable">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>

      <div class="start">
        <img src="../../../assets/account/Icon ionic-ios-information-circle-outline.svg" alt="">
        <p>المساعدة</p>
      </div>
      <div class="end">
        <img src="../../../assets/account/chevron-forward-outline.svg" alt="">
      </div>
    </div>
    <div class="line">
      <div class="start">
        <ion-icon slot="start" [name]="darkOn?'moon':'moon-outline'"></ion-icon>
        <p>دارك مود</p>
      </div>
      <div class="end">

        <ion-toggle #myToggle mode="ios" color="success" slot="end" id="themeToggle" [checked]="darkOn"
          (ionChange)="changeTheme($event)">
        </ion-toggle>
      </div>
    </div>
    <div class="footer_box">
      <p>تابعونا على</p>
      <div class="btns">
        <div class="box" (click)="openWhatsapp()">
          <img src="../../../assets/account/logo-whatsapp (1).png" alt="">
        </div>
        <div class="box" (click)="openinstagram()">
          <img src="../../../assets/account/Icon awesome-instagram.png" alt="">
        </div>
        <div class="box" (click)="openmessenger()">
          <img src="../../../assets/account/Icon awesome-facebook-messenger.png" alt="">
        </div>

      </div>
    </div>
  </div>
</ion-content>