<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-forward-outline"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="product_box">

      <div class="image_box">
        <img src="../../../assets/82829_SCMOI_Closed_R.png" alt="">
      </div>
      <h4>Sony Playstation 5 disc version with extra Dualsense- cottroller Bundle</h4>
      <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو
        شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك</p>

      <div class="price">
        658,000 د.ع
      </div>
    </div>
    <div class="title">منتجات مشابهة</div>
    <div class="products">
      <div class="product" *ngFor="let item of [1,2,3,4,5,6]">

        <div class="img">
          <img src="../../../assets/offers/82829_SCMOI_Closed_R-1.png" />
        </div>
        <div class="text">
          <p class="name">HUAWEI Phone</p>
          <div class="note">
            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى</p>
          </div>
          <div class="price">
            <h2>658.000</h2>
            <span>دع</span>
          </div>
          <ion-button mode="ios" expand="block" color="light" fill="solid">
            تواصل عبر
            <img src="../../../assets/Icon ionic-logo-whatsapp.svg" alt="">
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_box">

    <ion-button mode="ios" expand="block" fill="solid" shape="round">
      تواصل عبر
      <img slot="end" src="../../../assets/account/logo-whatsapp (1).png" alt="">
    </ion-button>
  </div>
</ion-content>