<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-forward-outline"></ion-back-button>
    </ion-buttons>
    <ion-button slot="start" fill="clear" *ngIf="slide==true" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>تفاصيل المنتج</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="product_box">

      <div class="image_box">
        <img [src]="item?.image" alt="">
      </div>
      <h4>{{item?.name}}</h4>
      <p>{{item?.description}}</p>

      <div class="price">
        {{item?.price}} د.ع
      </div>
    </div>
    <div class="title" *ngIf="similars?.length">منتجات مشابهة</div>
    <div class="products">
      <div class="product" *ngFor="let item of similars">

        <div class="img">
          <img [src]="item?.image" alt="">
        </div>
        <div class="text">
          <p class="name">{{item?.name}}</p>
          <div class="note">
            <p>{{item?.description}}</p>
          </div>
          <div class="price">
            <h2>{{item?.price}}</h2>
            <span>دع</span>
          </div>
          <ion-button mode="ios" expand="block" color="light" fill="solid" (click)="openWhatsapp(item)">
            تواصل عبر
            <img src="../../../assets/Icon ionic-logo-whatsapp.svg" alt="">
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_box">

    <ion-button mode="ios" expand="block" fill="solid" shape="round" (click)="redirectToWhatsApp(item)">
      تواصل عبر
      <img slot="end" src="../../../assets/account/logo-whatsapp (1).png" alt="">
    </ion-button>
  </div>
</ion-content>