<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button #tab1 tab="home">
      <img src="../../../assets/home{{tab1.selected?'2':'1'}}.svg" alt="">
    </ion-tab-button>

    <ion-tab-button #tab3 tab="brands">
      <img src="../../../assets/pricetag{{tab3.selected?'2':'1'}}.svg" alt="">
    </ion-tab-button>

    <ion-tab-button #tab2 tab="offers">
      <img src="../../../assets/offers{{tab2.selected?'2':'1'}}.svg" alt="">
    </ion-tab-button>

    <ion-tab-button>
      <img src="../../../assets/logo-whatsapp.svg" alt="">
    </ion-tab-button>

    <ion-tab-button #tab4 tab="account">
      <img src="../../../assets/person{{tab4.selected?'2':'1'}}.svg" alt="">
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>