.container {
  padding-inline: 16px;
  padding-block: 20px 40px;
}

.items_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  gap: 12px;
  margin-top: 20px;
  //   margin-inline: 16px;
  .item_box {
    position: relative;
    border: 1px solid #f3f4f5;
    border-radius: 5px;
    // height: 320px;
    padding: 3px 8px 0;
    box-shadow: 0px 3px 6px #cccccc80;

    span.fav {
      position: absolute;
      top: 8px;
      left: 5px;
      border-radius: 20px;
      padding: 2px;
      width: 30px;
      height: 30px;
      background-color: #f3f3f3;

      img {
        width: fit-content;
        object-fit: contain;
        height: fit-content;
      }
    }
    p {
      font-family: "bold";
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: break-spaces;
      overflow: hidden;
    }

    .image {
      height: 140px;
      img {
        display: block;
        margin-inline: auto;
        max-height: 100%;
        overflow: hidden;
        object-fit: contain;
      }
    }
    ion-ripple-effect {
      border-radius: 5px;
    }

    .body_item {
      h2 {
        font-size: 16px;
        font-family: "bold";
        margin: 0;
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
        color: #707070;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: break-spaces;
        overflow: hidden;
      }
      .price {
        color: #df1b33;
        font-size: 18px;
      }
    }
    ion-button {
      font-size: 14px;
      img {
        display: inline-block;
        margin-inline-start: 14px;
      }
    }
  }
}

.segmentContainer {
  display: flex;
  align-items: center;
  overflow-y: scroll;
  margin-block: 12px;
  .segmentBox {
    font-family: "bold";
    font-size: 18px;
    padding: 5px 10px;
    position: relative;
  }
  .segmentBox.active::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    bottom: 0;
    background: #000;
    color: #000;
    right: 40%;
  }
}
