<ion-header>
  <ion-toolbar>

    <ion-searchbar mode="ios" slot="start" placeholder="بحث"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <img src="../../../assets/cart.svg" alt="">
      </ion-button>
      <ion-button>
        <img src="../../../assets/fav.svg" alt="">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item>
      <ion-input type="text" placeholder="حدد البراند الذي تريده هنا"></ion-input>
      <ion-icon slot="end" name="close"></ion-icon>
    </ion-item>
    <div class="title">
      <h2>اختر من بين مئات البراندات</h2>
    </div>
    <div class="brands">
      <div class="brand">
        <div class="image">
          <img src="../../../assets/brands/icons8-add-product-48-1.png" alt="">
        </div>
        <p>J'adore Dior</p>
      </div>
      <div class="brand">
        <div class="image">
          <img src="../../../assets/brands/icons8-add-product-48-2.png" alt="">
        </div>
        <p>J'adore Dior</p>
      </div>
      <div class="brand">
        <div class="image">
          <img src="../../../assets/brands/icons8-add-product-48-3.png" alt="">
        </div>
        <p>J'adore Dior</p>
      </div>
      <div class="brand">
        <div class="image">
          <img src="../../../assets/brands/icons8-add-product-48-4.png" alt="">
        </div>
        <p>J'adore Dior</p>
      </div>
      <div class="brand">
        <div class="image">
          <img src="../../../assets/brands/icons8-add-product-48-5.png" alt="">
        </div>
        <p>J'adore Dior</p>
      </div>
      <div class="brand">
        <div class="image">
          <img src="../../../assets/brands/icons8-add-product-48.png" alt="">
        </div>
        <p>J'adore Dior</p>
      </div>
    </div>
  </div>
</ion-content>