.container {
  padding-inline: 16px;
  padding-block: 20px 40px;
}

.items_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  margin-top: 20px;
  //   margin-inline: 16px;
  .item_box {
    position: relative;
    border: 1px solid #f3f4f5;
    border-radius: 5px;
    // height: 320px;
    padding: 3px 8px 0;
    box-shadow: 0px 3px 6px #cccccc80;
    p {
      font-family: "bold";
    }

    .image {
      height: 140px;
      img {
        display: block;
        margin-inline-start: auto;
      }
    }
    ion-ripple-effect {
      border-radius: 5px;
    }

    .body_item {
      h2 {
        font-size: 16px;
        font-family: "bold";
        margin: 0;
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
        color: #707070;
      }
      .price {
        color: #df1b33;
        font-size: 18px;
      }
    }
    ion-button {
      img {
        display: inline-block;
        margin-inline-start: 14px;
      }
    }
  }
}
